* {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  background-color: hsl(0,0%,95%);
  padding: 0;
  margin: 0;
}

/* Overall container styles */

.flex-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: hsl(0,0%,95%);
  height: 100vh;
}

.flex-container > div {
  box-sizing: border-box;
  width: 307px;
  min-width: 307px;
  height: 500px;
  min-height: 500px;
  padding: 45px 49px;
  line-height: 25px;
  align-self: center;
}

.flex-container h2 {
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  padding-top: 8px;
  font-size: 40px;
}

.flex-container p {
  padding-bottom: 70px;
}

/* Learn More Button */

.learnmore {
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px;
  border: hsl(0, 0%, 95%) 2px solid;
  cursor: pointer;
  padding: 15px 30px;
  width: 150px;
  height: 50px;
}

.learnmore:hover {
  color: hsl(0,0%,95%);
}

/* Styles for each of the three specific containers */

.sedans-container {
  background-color: hsl(31,77%,52%);
  border-radius: 10px 0px 0px 10px;
}

.sedans-container button {
  color: hsl(31,77%,52%);
}

.sedans-container button:hover {
  background-color: hsl(31,77%,52%);
}

.suvs-container {
  background-color: hsl(184,100%,22%);
}

.suvs-container button {
  color: hsl(184,100%,22%);
}

.suvs-container button:hover {
  background-color: hsl(184,100%,22%);
}

.luxury-container {
  background-color: hsl(179,100%,13%);
  border-radius: 0px 10px 10px 0px;
}

.luxury-container button {
  color: hsl(179,100%,13%);
}

.luxury-container button:hover {
  background-color: hsl(179,100%,13%);
}

/* Icons */

.icon {
  display: inline-block;
  width: 64px;
  height: 40px;
  background-repeat: no-repeat;
}

.sedans-icon {
  background-image: url('../images/icon-sedans.svg')
}

.suvs-icon {
  background-image: url('../images/icon-suvs.svg')
}

.luxury-icon {
  background-image: url('../images/icon-luxury.svg')
}

/* Smaller devices */

@media screen and (max-width: 375px) {
  .flex-container {
    flex-direction: column;
    height: 100%;
  }

  .flex-container > div {
    width: 327px;
    min-width: 327px;
    height: 442px;
    min-height: 442px;
  }

  .sedans-container {
    border-radius: 10px 10px 0px 0px;
  }

  .luxury-container {
    border-radius: 0px 0px 10px 10px;
  }

  .flex-container p {
    padding-bottom: 15px;
  }
}